* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
.mainDiv{
    display: flex;
    width: 100%;
}
.userForm{
    margin:30px 0  0  30px;
    width: 40%;
    background-color: rgba(243, 240, 228, 0.486);
    box-shadow: 2px 2px 8px 4px #ccc;
    height:270px;
}
.inputFeildFlex{
    display: flex;
    justify-content: space-between;
}
.inputButton{
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 80px;

}
.inputFeild{
    margin: 20px;
    
}
.inputFeild input{
    height: 25px;
    border:1px solid black;
    border-radius: 5px;
    background-color:rgb(236, 236, 236);
}
.inputFeild button{
    height: 25px;
    width: 60px;
    border:1px solid black;
    background-color:rgb(236, 236, 236);
    border-radius: 5px;
}
.phonebookDiv{
    width: 100%;
}
.contacts{
    margin:30px;
    margin-top: 30px;
    /* background-color:black; */
    box-shadow: 2px 2px 8px 4px #ccc;
    
}
.contactTable tr th{
    border:1px solid black;
    background-color:rgb(0, 0, 0);
    width: 180px;
    color:white;
    height: 30px;
    text-align:justify;
    padding-left: 25px;
    
}
.noContact{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.td_tr td{
    background-color: rgba(243, 240, 228, 0.486);
    padding-left:25px;
    color:rgb(0, 0, 0);
    text-align:justify;
}
.editicon{
    cursor:grab;
}
.deleteicon{
    padding-left: 20px;
    cursor:grab;
}

